

@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    @*<div id="logo">

        <img src="~/Content/themes/base/images/logo.png" class="desktop" />

    </div>*@

    <p class="lead"></p>
    <p><a href="http://rg.edu.rs/" class="btn btn-primary btn-lg">Racunarska gimnazija </a></p>



</div>

<div class="row">
    <div class="col-md-3">
        <h2>PROFESORI</h2>
        
        <p><a class="btn btn-primary btn-lg"  href="/profesori/index/">Registar profesora </a></p>
    </div>
    <div class="col-md-3">
        <h2>PREDMETI</h2>
       
        <p><a class="btn btn-primary btn-lg" href="/predmeti/index/">Registar predmeta </a></p>
    </div>
    <div class="col-md-3">
        <h2>ODELJENJA</h2>
       
        <p><a class="btn btn-primary btn-lg" href="/odeljenja/index/">Registar odeljenja</a></p>
    </div>
    <div class="col-md-3">
        <h2>UCENICI</h2>

        <p><a class="btn btn-primary btn-lg" href="/ucenici/index/">Registar ucenika </a> </p>
    </div>
</div>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />


