@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eDnevnikN</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dobrodosli u Dnevnik</h2>
        <p>
            Dnevnik je jednostavna aplikacija koja koristi Entity Framework 6 u
            ASP.NET MVC 5 web aplikaciji.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Uzmite vise biblioteka</h2>
        <p>
            NuGet je besplatan Visual Studio dodatak koji olaksava dodavanje,
            uklanjanje i azuriranje biblioteka i alata u Visual Studio projektima.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            Mozete lako naci Web Hosting kompaniju koja nudi pravu kombinaciju
            funkcija i cene za vase aplikacije .
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>