@{
    ViewBag.Title = "Ucenici";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ucenici</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>

    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary"
           href="/ucenici/create/" style="margin-bottom:20px; margin-top:20px">Unesi novog ucenika</a>
        <table id="myUcenici" class="table table-striped " style="width:100%">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Adresa</th>
                    <th>Datum rodjenja</th>
                    <th>Skolska godina</th>
                    <th>Redni broj u odeljenju</th>


                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>

                </tr>
            </thead>

        </table>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>

        $(document).ready(function () {
            var oTable = $('#myUcenici').DataTable({
                "ajax": {
                    "url": '/Ucenici1/GetUcenicis',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Ime", "autowidth": true },
                    { "data": "Prezime", "autowidth": true },
                    { "data": "Adresa", "autowidth": true },
                    {
                        //"data": null, "render": function (data) { return convertToDate(data); },"autowidth":true

                        //"data": "DatumRodjenja", render: function (data, type, announcement) {
                        //    return announcement.FormattedDate; }, "autowidth": true

                        "data": "DatumRodjenja",
                        "render": function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            return month + "/" + date.getDate() + "/" + date.getFullYear();
                        }, "autowidth": true
                    },
                    { "data": null, "render": function (data) { return (data["Opis"]) }, "autowidth": true},
                    { "data": "RedBrUOdeljenju", "autowidth": true },


                    {
                        "data": "ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/ucenici/edit/' + data + '">Edit</a>';
                        }
                    },

                    {
                        "data": "ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/ucenici/details/' + data + '">Details</a>';
                        }
                    },

                    {
                        "data": "ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/ucenici/delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            })
            //$('#MyUcenici').DataTable({
            //    columnDefs: [{
            //        targets: 3,
            //        render: $.fn.dataTable.render.moment('yyyy-MM-dd')
            //    }]
            //});
           
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    //$.validator.unobtrusive.parse('form');
                });
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup Dialog',
                        hight: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })
                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
    </script>
</body>
</html>


