


@model eDnevnikN.ViewModels.ProfesoriIndexData

@{ 
    ViewBag.Title = "Profesori";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profesori</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />*@
    <link href="~/Content/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/RowGroup-1.1.0/css/rowGroup.dataTables.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
        tr.group,
        tr.group:hover {
            background-color: #ddd !important;
        }
    </style>
</head>
<body>

    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary"
           href="/profesori2/create/" style="margin-bottom:20px; margin-top:20px">Unesi novog profesora</a>
        <table id="myProfesori" class="table table-hover dt-responsive display" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Ime i prezime</th>
                    <th>Status</th>
                    <th>Korisnicko ime</th>
                    <th>Lozinka</th>
                    
                    <th>Predmeti</th>

                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>

                </tr>
            </thead>

        </table>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/DataTables/RowGroup-1.1.0/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
    <script>






        $(document).ready(function () {
            var oTable = $('#myProfesori').DataTable({



                "columnDefs": [
                    { "visible": false, "targets": [1, 0] },
                   
                ],
                "order": [[1, 'asc']],
               
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    var columns = [1];

                    for (c = 0; c < columns.length; c++) {
                        var colNo = columns[c];
                        api.column(colNo, { page: 'current' }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="9">' + group + '</td></tr>'
                                );
                                last = group;
                            }
                        });

                  
                       };
                   
                   
                },

           
            
                "ajax": {
                    "url": '/Profesori2/GetProfesoris',
                    
                    "type": "get",
                    "datatype": "json",
                },
                "columns": [
                   
                    { "data": "Ime", "autowidth": true },
                    { "data": "Prezime",  "autowidth": true },
                    { "data": null, "render": function (data) { return (data["Prezime"] + "  " + data["Ime"]) }, "autowidth": true },
                    { "data": "Status", "autowidth": true },
                    { "data": "KorisnickoIme", "autowidth": true },
                    { "data": "Lozinka", "autowidth": true },
                    { "data": null, "render": function (data) { return (data["NazivPredmeta"]) }, "autowidth": true },


                    
                  
                 

                    {
                      
                        "data": "ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/Profesori2/Edit/' + data + '">Edit</a>';
                        }
                    },

                    {
                        "data": "ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/profesori2/details/' + data + '">Details</a>';
                        }
                    },

                    {
                        "data": "ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/profesori2/delete/' + data + '">Delete</a>';
                        }
                    }
                ],
               
               

            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    //$.validator.unobtrusive.parse('form');
                });
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup Dialog',
                        hight: 650,
                        width: 800,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })
                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })

    </script>
</body>
</html>


